@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: "Fira Sans", serif;
    background-color: #f5f5f5;

}

.body-margin {
    margin: 0 137px;
}

/* shared style */
.btn-primary {
    background-color: #006A50;
    padding: 14.5px 29px;
    color: #FFFFFF;
    border: none;
    border-radius: 6.8px;
    font-size: 15.36px;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #45a049;
}

.common-title {
    font-size: 34.15px;
    margin-bottom: 20.5px;
}

.common-p {
    color: #0E0E0E;
    opacity: 70%;
    line-height: 24px;
    font-size: 13.6px;
}

.text-center {
    text-align: center;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 27px !important;
    padding: 20px 0;
}

.nav-title {
    font-size: 27px;
}

.navbar .sign-btn {
    padding: 12.8px 25.5px;
    border-radius: 6.6px;
    border: 2px solid #006A50;
    color: #006A50;
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;

}

.navbar .sign-btn:hover {
    border: 2px solid black;
    cursor: pointer;
    color: black;
    background-color: #ffffff;

}


/* Banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
    background-color: #C6E4D6;
    border-radius: 20.5px;
}

.banner-content {
    width: 565px;
    margin: 100px 51.22px;
    margin-right: 0px;
}

.banner-content-title {
    font-size: 47.80px;
    margin: 13.66px 0 20.5px 0;
}

.banner-content-subtitle {
    color: #0E0E0E;
    opacity: 50%;
    font-weight: 500;
}

.banner-img {
    width: 50%;
    margin-top: 68.3px 0;
}

.banner-img img {
    width: 400px;
    height: 341.5px;
    margin-left: 51.22px;
}

/* piller */
#piller {
    margin-bottom: 67px;
}

.pillers-card {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.pillers-card .card {
    width: 257px;
    padding: 20.5px;
    background-color: #FFFFFF;
    border-radius: 13.66px;
}

/* vision section start */
.vision-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    gap: 20.5px;
    max-width: 1092px;
    margin: 27.3px 0;
}

.vision-card .card-1 {
    background-color: rgba(84, 144, 245, 0.2);

}

.similar-card-design {
    padding: 27.3px;
    border-radius: 13.66px;
    width: 350px !important;

}

.similar-card-design img {
    height: 54.64px;
    width: 54.74px;
    margin-bottom: 20.50px;

}

.similar-card-design .card-title {
    font-size: 17px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 10.24px;
}

.btn-card {
    background-color: #5490F5;
    padding: 9.40px 17px;
    color: #FFFFFF;
    border: none;
    border-radius: 6.8px;
    font-size: 13.66px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20.5px;

}

.btn-card:hover {
    background-color: #f5f5f5;
    color: #0E0E0E;
}

.card-2 {
    background-color: rgba(198, 228, 214, 1);
}

.card-2 button {
    background-color: #09A15C;
}

.card-3 {
    background-color: rgba(247, 235, 207, 1);
}

.card-3 button {
    background-color: rgba(255, 194, 57, 1);
}

/* mission started */
.mission {
    height: 200px;
    background-color: #FFFFFF;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 20px 16px;
    border-radius: 13.66px;
    margin-bottom: 68px;
    padding: 41px 20.5px;
}

.mission h3 {
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
}

/* news card start */
.recent-news {
    margin-bottom: 68px;
}

.news-card {
    display: flex;
    justify-content: space-between;
    padding: 41px;
    background: #FFFFFF;
    margin-bottom: 21px;
    border-radius: 20.50px;
    margin-top: 21px;
}

.news-img .img-left {
    width: 348px;
    height: 261px;
    border-radius: 20.5px;
    margin-right: 41px;
}

.news-img .img-right {
    width: 348px;
    height: 261px;
    border-radius: 20.5px;
    margin-left: 41px;
}

.news-content h2,
img,
.common-p {
    margin-bottom: 10.24px;
}

.news-content h2 {
    font-size: 27px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 10.24px;
}

.news-content span {
    margin-left: 5px;
}

/* donate */
.donate {
    text-align: center;
    padding: 0 89px;
}

.donate-amount {
    width: 914px;
    margin-top: 27px;
}

.donate-amount button {
    padding: 34px;
    border-radius: 13.66px;
    border: none;
    background-color: #FFFFFF;
    font-size: 34px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-right: 10px;
    margin-bottom: 27px;
}

.donate-amount button:hover {
    background-color: #C6E4D6;
    cursor: pointer;

}

.donate-amount button:nth-child(2) {
    background-color: #C6E4D6;
    cursor: pointer;
}

.donate input {
    padding: 20px;
    width: 870px;
    margin-bottom: 27px;
    border: none;
}

.donate input::placeholder {
    padding: 10px;
    text-align: center;
}

/* subscribe style start */
#subscribe {
    margin: 68px 0;
    background-color: #C6E4D6;
    text-align: center;
    padding: 68px 226.24px;
    border-radius: 20.5px;
}

#subscribe input {
    padding: 16.3px 34px;
    width: 400px;
    border: none;
    margin-top: 10.5px;
    margin-bottom: 20.5px;
}

#subscribe button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -03px;
}

/* footer */
#footer {
    height: 192px;
    width: 1349px !important;
    background-color: #fff;
    text-align: center;


}

.footer-title {
    color: #0E0E0E;
    font-size: 27px;
    padding-top: 43px;
    padding-bottom: 27px;
}

#footer hr {
    width: 957px;
    margin: 0 auto;
}

#footer .icons {
    padding-top: 27px;
    width: 1330px;
    display: flex;
    justify-content: center;
    gap: 20px;

}

#footer .icons a img {
    justify-content: space-between;

}
/* A1 done */